.protyle-wysiwyg:not(.fn__flex-1.history__text.protyle) {
    & [data-node-id][fold="1"] {

        /* &[data-type="NodeHeading"],  */
        &[data-type="NodeListItem"] > [data-node-id] > [spellcheck] {
            position: relative;
            --pseudo-width: 50px; /* 伪元素宽度 */
            --pseudo-height: 20px; /* 伪元素高度 */
            display: flex;
            align-items: center;

            &::after {
                content: "  · · ·  ";
                font-size: 60%;
                border: 1px solid rgb(95, 99, 104);
                border-radius: 5px;
                vertical-align: middle;
    
                position: absolute;
                right: 0;
                height: 15px;
                display: flex;
                align-items: center;
            }
        }
    }
}